In [1]:
import queue  # for priority queue
import copy # for deepcopy
import random # for random.choice
import pandas as pd # for dataframe
import numpy as np # for numpy
import math # for math.sqrt
import copy # for deepcopy
import time # for time.time()
from sklearn.preprocessing import StandardScaler # for standardization
class Node:
    def __init__(self, state, parent, accuracy): # constructor
        self.state = state # the current node(current feature sets) of the node
        self.parent = parent # the parent node of current node
        self.accuracy = accuracy # the accuracy of current node
    def get_current_node(self): # return the current node
        return self.state
    def get_accuracy(self): # return the accuracy of current node
        return self.accuracy
    def __lt__(self, next): # this is for the priority queue
        return self.accuracy < next.accuracy

In [2]:
# load the data 
small_test_file_name = "small-test-dataset.txt"
small_test = pd.read_csv(small_test_file_name, delimiter=r"\s+", header = None)
small_test.head(3) # print the first 3 rows
#small_test[0].value_counts()

,0,1,2,3,4,5,6,7,8,9,10
0,2.0,5.068837,3.140338,1.289108,0.576342,2.726862,1.910392,4.602715,3.362192,4.025317,2.850399
1,2.0,4.542659,2.585977,4.160459,3.454206,4.443695,4.023849,3.198773,2.973449,2.617771,1.695701
2,2.0,3.036878,4.126735,1.568875,2.820503,4.084704,1.546575,2.765708,4.137490,2.395914,4.142082

In [3]:
# load the data
large_test_file_name = "Large-test-dataset.txt"
large_test = pd.read_csv(large_test_file_name, delimiter=r"\s+", header = None) #
large_test.head(3) # print the first 3 rows

,0,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,39,40
0,2.0,2.522975,1.104877,3.628799,2.147955,3.915596,4.518589,3.506553,3.071337,3.844453,...,4.426448,2.654279,3.375515,3.081816,3.126470,3.918826,4.311717,1.755977,2.727675,3.088761
1,2.0,3.090355,1.078130,2.933345,2.337623,2.808290,3.261811,3.062445,3.763595,3.034178,...,2.916443,2.685065,3.151358,2.183804,2.447051,1.924592,3.487203,1.479864,3.268112,3.568360
2,2.0,3.380721,3.581257,2.643476,2.725065,2.147616,1.914770,3.964033,5.826476,2.368161,...,1.282696,2.814488,3.241585,4.250583,3.309664,3.373909,4.880085,3.606023,3.558190,4.547852

In [4]:
# this is for the normalize small dataset
#small_test.iloc[:,1:small_test.shape[1]] # columns 1 to the end
scaler = StandardScaler() # standard scaler
small_test_scaled = scaler.fit_transform(small_test.iloc[:,1:small_test.shape[1]]) # fit and transform the data
small_test_scaled = pd.DataFrame(small_test_scaled) # convert to dataframe
small_test_normalized = pd.concat([small_test.iloc[:,0:1], small_test_scaled], axis=1) # concatenate the data
small_test_normalized.head(3) # print the dataframe

,0,0,1,2,3,4,5,6,7,8,9
0,2.0,2.176932,0.242524,-1.534037,-2.348508,-0.329525,-0.987070,1.540914,0.352003,1.162366,0.133282
1,2.0,1.635395,-0.275870,1.148029,0.521261,1.333220,1.120200,0.071603,-0.057058,-0.173787,-1.071278
2,2.0,0.085661,1.164924,-1.272713,-0.110660,0.985538,-1.349822,-0.381626,1.167823,-0.384391,1.480742

In [5]:
# this is for the normalize large dataset
large_test_scaled = scaler.fit_transform(large_test.iloc[:,1:large_test.shape[1]]) # fit and transform the data
large_test_scaled = pd.DataFrame(large_test_scaled) # convert to dataframe
large_test_normalized = pd.concat([large_test.iloc[:,0:1], large_test_scaled], axis=1) # concatenate the data
large_test_normalized.head(3) # print the dataframe

,0,0,1,2,3,4,5,6,7,8,...,30,31,32,33,34,35,36,37,38,39
0,2.0,-0.503664,-1.895417,0.625103,-0.852914,0.861414,1.455623,0.569991,0.076615,0.860083,...,1.415823,-0.311344,0.388363,0.033654,0.153260,0.906036,1.325886,-1.269118,-0.278237,0.109275
1,2.0,0.088848,-1.922914,-0.037149,-0.661111,-0.239240,0.240815,0.110253,0.773468,0.051927,...,-0.051202,-0.279882,0.160744,-0.843274,-0.514320,-1.061404,0.487239,-1.542670,0.267849,0.603503
2,2.0,0.392077,0.650387,-0.313181,-0.269305,-0.895945,-1.061241,1.043570,2.850043,-0.612348,...,-1.638447,-0.147614,0.252365,1.174979,0.333262,0.368440,1.903996,0.563762,0.560959,1.612868

In [6]:
# load the data 
personal_small_test_file_name = "CS170_Spring_2022_Small_data__102.txt"
personal_small_test = pd.read_csv(personal_small_test_file_name, delimiter=r"\s+", header = None)
personal_small_test.head(3) # print the first 3 rows
#small_test[0].value_counts()

,0,1,2,3,4,5,6,7,8,9,10
0,1.0,0.588139,-1.759326,2.091809,-0.685387,1.727602,-0.362451,-0.043195,-0.667683,0.269320,-0.614092
1,2.0,-1.795138,-0.435755,-0.138534,-1.984583,1.131287,0.785214,0.337882,-0.263521,-0.793444,-1.895482
2,2.0,-1.330980,0.158997,0.211084,-1.277718,0.379159,-0.067180,-0.078171,1.917266,1.803082,-0.236975

In [7]:
# load the data
personal_large_test_file_name = "CS170_Spring_2022_Large_data__102.txt"
personal_large_test = pd.read_csv(personal_large_test_file_name, delimiter=r"\s+", header = None) #
personal_large_test.head(3) # print the first 3 rows

,0,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,39,40
0,2.0,-0.405550,-1.948408,-0.836609,-1.665288,-0.571342,-0.767871,0.248300,-0.302739,1.546041,...,1.199606,0.787637,-0.094080,-0.112492,-0.111032,0.055719,-0.168792,-0.310380,0.818675,0.613251
1,2.0,2.577320,0.418193,2.043754,0.675542,-1.027219,-0.817929,1.977267,-0.855001,-0.941871,...,-1.444444,-1.866266,0.841270,0.767863,-0.489662,0.486264,0.628048,-1.644813,-0.803058,-0.282310
2,2.0,0.428912,0.004134,-1.660865,0.017425,0.483600,0.199327,-0.891506,-1.447127,-1.246280,...,0.376826,-1.097380,-0.966164,-0.550853,0.440829,-1.568145,-0.647595,-0.616936,0.038132,0.733896

In [8]:
# this is for the normalize small dataset
#small_test.iloc[:,1:small_test.shape[1]] # columns 1 to the end
scaler = StandardScaler() # standard scaler
personal_small_test_scaled = scaler.fit_transform(personal_small_test.iloc[:,1:personal_small_test.shape[1]]) # fit and transform the data
personal_small_test_scaled = pd.DataFrame(personal_small_test_scaled) # convert to dataframe
personal_small_test_normalized = pd.concat([personal_small_test.iloc[:,0:1], personal_small_test_scaled], axis=1) # concatenate the data
personal_small_test_normalized.head(3) # print the dataframe

,0,0,1,2,3,4,5,6,7,8,9
0,1.0,0.445446,-1.705547,2.234270,-0.696021,1.750165,-0.268269,-0.066995,-0.818550,0.424966,-0.704246
1,2.0,-2.029604,-0.483656,-0.121353,-1.951128,1.142371,0.809770,0.320508,-0.418976,-0.767782,-2.025829
2,2.0,-1.547573,0.065406,0.247903,-1.268251,0.375765,0.009089,-0.102562,1.737053,2.146319,-0.315301

In [9]:
# this is for the normalize large dataset
personal_large_test_scaled = scaler.fit_transform(personal_large_test.iloc[:,1:personal_large_test.shape[1]]) # fit and transform the data
personal_large_test_scaled = pd.DataFrame(personal_large_test_scaled) # convert to dataframe
personal_large_test_normalized = pd.concat([personal_large_test.iloc[:,0:1], personal_large_test_scaled], axis=1) # concatenate the data
personal_large_test_normalized.head(3) # print the dataframe

,0,0,1,2,3,4,5,6,7,8,...,30,31,32,33,34,35,36,37,38,39
0,2.0,-0.391770,-1.928418,-0.859375,-1.779998,-0.581505,-0.852308,0.317156,-0.362693,1.534916,...,1.188706,0.812225,-0.064519,-0.116401,-0.088852,0.095598,-0.182002,-0.297991,0.815344,0.592579
1,2.0,2.597055,0.395019,2.085808,0.626203,-1.041533,-0.902462,2.009165,-0.929342,-0.977328,...,-1.466267,-1.806730,0.855671,0.769858,-0.466927,0.537229,0.620425,-1.636473,-0.805040,-0.296501
2,2.0,0.444358,-0.011488,-1.702181,-0.050294,0.483042,0.116750,-0.798286,-1.536895,-1.284715,...,0.362527,-1.047970,-0.922468,-0.557703,0.462198,-1.570078,-0.664163,-0.605477,0.035449,0.712351

In [10]:
# HOW TO NORMALIZE THE DATA 
# https://stackoverflow.com/questions/26414913/normalize-columns-of-pandas-data-frame
df = personal_small_test.iloc[:,1:personal_small_test.shape[1]]
normalized_df=(df-df.mean())/df.std()
normalized_df.head(3)
personal_small_test_normalized1 = pd.concat([personal_small_test.iloc[:,0:1], normalized_df], axis=1) # concatenate the data
personal_small_test_normalized1.head(3)

,0,1,2,3,4,5,6,7,8,9,10
0,1.0,0.443213,-1.696998,2.223071,-0.692532,1.741392,-0.266924,-0.066659,-0.814447,0.422836,-0.700716
1,2.0,-2.019431,-0.481232,-0.120745,-1.941347,1.136645,0.805711,0.318901,-0.416876,-0.763934,-2.015675
2,2.0,-1.539815,0.065078,0.246660,-1.261893,0.373881,0.009043,-0.102047,1.728346,2.135560,-0.313720

In [11]:
# HOW TO NORMALIZE THE DATA 
# https://stackoverflow.com/questions/26414913/normalize-columns-of-pandas-data-frame
df = personal_large_test.iloc[:,1:personal_large_test.shape[1]]
normalized_df=(df-df.mean())/df.std()
normalized_df.head(3)
personal_large_test_normalized1 = pd.concat([personal_large_test.iloc[:,0:1], normalized_df], axis=1) # concatenate the data
personal_large_test_normalized1.head(3)

,0,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,39,40
0,2.0,-0.391574,-1.927454,-0.858946,-1.779108,-0.581214,-0.851881,0.316997,-0.362512,1.534148,...,1.188112,0.811818,-0.064487,-0.116343,-0.088808,0.095551,-0.181911,-0.297841,0.814936,0.592282
1,2.0,2.595757,0.394821,2.084765,0.625890,-1.041012,-0.902011,2.008160,-0.928877,-0.976840,...,-1.465534,-1.805827,0.855243,0.769473,-0.466694,0.536960,0.620115,-1.635655,-0.804637,-0.296353
2,2.0,0.444136,-0.011482,-1.701330,-0.050268,0.482801,0.116691,-0.797887,-1.536126,-1.284072,...,0.362346,-1.047446,-0.922007,-0.557424,0.461967,-1.569292,-0.663831,-0.605174,0.035432,0.711995

In [12]:
# HOW TO NORMALIZE THE DATA 
# https://stackoverflow.com/questions/26414913/normalize-columns-of-pandas-data-frame
df = personal_small_test.iloc[:,1:personal_small_test.shape[1]]
normalized_df=(df-df.min())/(df.max()-df.min())
normalized_df.head(3)
personal_small_test_normalized2 = pd.concat([personal_small_test.iloc[:,0:1], normalized_df], axis=1) # concatenate the data
personal_small_test_normalized2.head(3)

,0,1,2,3,4,5,6,7,8,9,10
0,1.0,0.674000,0.112219,1.000000,0.423441,0.763150,0.462605,0.530676,0.256526,0.621943,0.398540
1,2.0,0.183866,0.420886,0.545353,0.158400,0.648128,0.703750,0.603024,0.334221,0.420564,0.163699
2,2.0,0.279323,0.559588,0.616622,0.302603,0.503053,0.524647,0.524036,0.753449,0.912570,0.467654

In [13]:
# HOW TO NORMALIZE THE DATA 
# https://stackoverflow.com/questions/26414913/normalize-columns-of-pandas-data-frame
df = personal_large_test.iloc[:,1:personal_large_test.shape[1]]
normalized_df=(df-df.min())/(df.max()-df.min())
normalized_df.head(3)
personal_large_test_normalized2 = pd.concat([personal_large_test.iloc[:,0:1], normalized_df], axis=1) # concatenate the data
personal_large_test_normalized2.head(3)

,0,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,39,40
0,2.0,0.484396,0.217274,0.307348,0.294420,0.357973,0.377701,0.571835,0.428805,0.645941,...,0.626500,0.599686,0.510419,0.502124,0.422535,0.538340,0.526813,0.482640,0.596892,0.523254
1,2.0,0.948128,0.577976,0.799478,0.661011,0.279250,0.369782,0.824355,0.341708,0.303714,...,0.250701,0.168388,0.651891,0.638225,0.363147,0.607774,0.656281,0.278799,0.349999,0.379020
2,2.0,0.614126,0.514868,0.166518,0.557945,0.540144,0.530707,0.405364,0.248324,0.261841,...,0.509558,0.293343,0.378517,0.434354,0.509094,0.276460,0.449019,0.435812,0.478062,0.542684

In [14]:
# euclidean distance fucntion 
def EuclideanDistance(x,y):
    distance = 0 # the distance between two points
    for i in range(len(x)): # calculate the distance between two points
        # euclidean distance = sqrt[(x0-y0)^2 + (x1-y1)^2 + ... + (xn-yn)^2]
        distance += ( x[i]- y[i] )**2 # sum the square of the difference
    distance = math.sqrt(distance) # take the square root of the sum
    return distance # return the distance

# test our function
#EuclideanDistance((5,2),(5,7))
#EuclideanDistance((5,2),(5,9))
#EuclideanDistance((5,2),(7,6))

In [15]:
# plase ignore the following code, it for test purpose
def NN_Neighbor(test_data_set,trian_data_sets):
    euclidean_distance = [] #  for store list of euclidean distance of training data
    neighbor = [] # for store NN neighbor
    for trian_data in trian_data_sets: # loop through all the training data
        euclidean_distance.append(EuclideanDistance(trian_data[1:len(trian_data)],test_data_set[1:len(test_data_set)])) # calculate the euclidean distance of each training data and testing data
        neighbor.append(min(euclidean_distance)) # store the NN neighbor(smallest euclidean distance) of the training data and testing data
    index = euclidean_distance.index(min(euclidean_distance)) # store the index of the NN neighbor
    #index = Find_NN_Neighbor(test_data_set,trian_data_sets)
    predicted_label = trian_data_sets[index][0] # store the label of the NN neighbor
    #print(euclidean_distance)
    #print("The predicted label is ",predicted_label, "index", index)
    return predicted_label

#NN_Neighbor(test_data,sm_f2_list)
# [1,0.01,0.02,0.02],
trian_sets = [
            [2,0.01,0.01,0.03],
            [1,0.02,0.03,0.02],
            [1,0.03,0.02,0.02],
            [2,0.05,0.01,0.05],]
NN_Neighbor([1,0.01,0.02,0.02],trian_sets)

2

In [16]:
# please ignore the following code, its for test purpose
def Validator(feature_subset, classifier, dataset):
    trian_data_sets = [] # for store the training data
    feature_subset.insert(0,0) # for the class label columns
    trian_data_sets = dataset.iloc[:,feature_subset] # store the training data sets
    trian_sets = trian_data_sets.values.tolist() # convert the dataframe to list
    correct_count = 0   # for store the correct count of prediction
    accuracy = 0 # for store the accuracy
    for i in range(len(trian_sets)): # loop through all the training data
        leave_one_out = trian_sets[i] # store the leave one out data(test data)
        temp_trian_data_sets = copy.deepcopy(trian_sets) # store the training data sets
        temp_trian_data_sets.pop(i) # remove the leave one out data from the training data sets
        #print("leave_one_out",leave_one_out)
        #print("temp_trian_data_sets",temp_trian_data_sets)
        predicted = NN_Neighbor(leave_one_out,temp_trian_data_sets) # predict the label of the leave one out data
        #print("predicted",predicted)
        #print()
        if (predicted == leave_one_out[0]):
            correct_count += 1
    accuracy = correct_count / (i+1)
    #print( "iteration is ",i+1,"correct count", correct_count)
    return accuracy

In [17]:
# Validator class
class Validator:
    def validator(self, feature_subset, classifier, dataset,k):
        trian_data_sets = [] # for store the training data
        feature_subsets = copy.deepcopy(feature_subset) # for the class label columns
        feature_subsets.insert(0,0) # for the class label columns
        trian_data_sets = dataset.iloc[:,feature_subsets] # store the training data sets
        trian_sets = trian_data_sets.values.tolist() # convert the dataframe to list
        correct_count = 0   # for store the correct count of prediction
        accuracy = 0 # for store the accuracy
        for i in range(len(trian_sets)): # loop through all the training data
            leave_one_out = trian_sets[i] # store the leave one out data(test data)
            temp_trian_data_sets = copy.deepcopy(trian_sets) # store the training data sets
            temp_trian_data_sets.pop(i) # remove the leave one out data from the training data sets
            classifier.train(temp_trian_data_sets) # train the classifier
            predicted = classifier.test(leave_one_out,k) # predict the label of the leave one out data
            if (predicted == leave_one_out[0]): # if the predicted label is the same as the leave one out data label
                correct_count += 1 # increase the correct count
        accuracy = (correct_count / (i+1)) # calculate the accuracy
        #print( "iteration is ",i+1,"correct count", correct_count)
        return accuracy

In [18]:
# NN Neighbor classifier
class NN_Neighbor_Classifier:
    def __init__(self): # constructor
        self.test_data = None
        self.train_data = None
    
    def train(self, train_data): # train the classifier, get the training data
        self.train_data = train_data  
    def test(self, test_data, k): # test the classifier, get the testing data and predict the label
        self.test_data = test_data
        euclidean_distance = [] #  for store list of euclidean distance of training data
        neighbor = [] # for store NN neighbor
        for trian_data in self.train_data: # loop through all the training data
            euclidean_distance.append(  [trian_data[0], EuclideanDistance(trian_data[1:len(trian_data)],self.test_data[1:len(self.test_data)]) ]  ) # calculate the euclidean distance of each training data and testing data
        #neighbor.append(min(euclidean_distance)) # store the NN neighbor(smallest euclidean distance) of the training data and testing data
        #index = euclidean_distance.index(min(euclidean_distance)) # store the index of the NN neighbor
        #predicted_label = self.train_data[index][0] # store the label of the NN neighbor
        euclidean_distance.sort(key=lambda x: x[1]) # sort the euclidean distance list
        for i in range(k):
            neighbor.append(euclidean_distance[i]) # store the K-NN neighbor(smallest euclidean distance) of the training data and testing data
        label1 = 0.0 # for store the cout of label1 of the K-NN neighbor
        label2 = 0.0 # for store the cout of label2 of the K-NN neighbor
        for i in range(len(neighbor)): # loop through all the K-NN neighbor
            if (neighbor[i][0] == 2.0):    # if the label of the K-NN neighbor is 2
                label2 += 1 # increase the count of label2
            else: # if the label of the K-NN neighbor is 1
                label1 += 1 # increase the count of label1
        if (label1 > label2): # if the count of label1 is greater than the count of label2
            predicted_label = 1.0 # predict the label as 1
        else: # if the count of label1 is less than the count of label2
            predicted_label = 2.0 # predict the label as 2
        return predicted_label # return the label of the NN neighbor

In [19]:
def ForwardSelection(feature_set,dataset,k):
    classifier = NN_Neighbor_Classifier() # create a classifier
    validator = Validator() # create a validator
    q = queue.PriorityQueue() # priority queue
    num_feature = len(feature_set)
    #res = queue.PriorityQueue()
    a = 0 # accuracy
    f = [] # for initial feature set
    a = validator.validator(f, classifier, dataset,k) # validate the initial feature set, which it is accuracy
    root = Node(f, None, a) # root node
    #print(root.get_current_node())
    q.put(root) #   put the root node into the queue
    print("Using no features and \"random\" evalution, I get an accuracy of ", a*100,"%\n") # print the accuracy
    print("Beginning search (Forward Selection):") # print the beginning of the search
    child_node = [] # this is for the children of the current node
    next_expend = [] # this is for the next node to be expanded
    index = 0 # this is for the index of the current node
    max_feature = root # assume our root node as  the max feature
    while not q.empty(): 
        next_expend = q.get()
        #res.put(next_expend)
        if (next_expend.get_accuracy() > max_feature.get_accuracy()): # if the accuracy of the current node is greater than the max accuracy
            max_feature = next_expend # update the max feature
        child_node = [] # list of child node
        feature_list = [] # list of current features
        for feature in (feature_set): # for all the current features
            p_temp = copy.deepcopy(next_expend.get_current_node()) # copy the current node
            if (feature not in p_temp): # if the current feature is not in the current node
                p_temp.insert(0, feature) # add the new feature to the current node(feature sets)
                feature_list.append(p_temp)# add the current features to the list of features and avoid to use duplicated features
        for f_temp in feature_list: # for all the features in the list of features
            a = validator.validator(f_temp, classifier, dataset,k) # validate the feature set, which it is return accuracy
            child = Node(f_temp,next_expend,a) # create a child node
            child_node.append(child) #  add the child node to the list of child node
            print("Using features(s)",child.get_current_node(),"accuracy is ", child.get_accuracy()*100,"%")  # print the accuracy
        next_expend = child_node[0] # set the next node to be expanded to be the first child node
        num_drop_accuracy = 0 # number of accuracy drop
        for i in child_node: # for all the child nodes
            if i.get_accuracy() > next_expend.get_accuracy(): # if the child accuracy of the current node is greater than the current expend node accuracy
                next_expend = i # update the next expend node
            if (i.get_accuracy() < max_feature.get_accuracy()):
                num_drop_accuracy += 1
        if (num_drop_accuracy == len(child_node) and index !=0):
            print("Warning: the accuracy is not increasing!!!") # print the warning
            print("Finished search!! ", "The best features are ", max_feature.get_current_node(), " which has accuracy ", max_feature.get_accuracy()*100,"%\n\n") # print the best accuracy and the best features
            break
        q.put(next_expend) # put the next expend node into the queue
        index+=1 # update the index
        if (index >= num_feature): # if the index is greater than the number of features end the search
            #if  (next_expend.get_accuracy() < max_feature.get_accuracy()): # if the accuracy of the current node is less than the max accuracy
            #    print("Warning: the accuracy is not increasing!!!") # print the warning
            #    print("Finished search!! ", "The best features are ", max_feature.get_current_node(), " which has accuracy ", max_feature.get_accuracy()*100,"%\n\n") # print the best accuracy and the best features
            #else: # if the accuracy of the current node is greater than the max accuracy, then no warning
            print("Finished search!! ", "The best features are ", next_expend.get_current_node(), " which has accuracy ", next_expend.get_accuracy()*100,"%\n\n") # print the best accuracy and the best features
            break # break the loop stop the search
        print("\nFeature set ", next_expend.get_current_node(), " was best, accuracy is ", next_expend.get_accuracy()*100,"%") # print the current best feature set and the accuracy

In [20]:
def BackwardElimination(feature_sets, dataset,k):
    classifier = NN_Neighbor_Classifier() # create a classifier
    validator = Validator() # create a validator
    num_feature = len(feature_sets) # number of features
    q = queue.PriorityQueue() # queue for the nodes
    #res = queue.PriorityQueue()
    f = [] # store the initil feature, in this case would be all the features
    f = copy.deepcopy(feature_sets) # copy the feature
    a = validator.validator(f, classifier, dataset,k) # accuracy
    root = Node(f, None, a) # root node
    #print(root.get_current_node())
    q.put(root) # put the root node into the queue
    print("Using all feature(s)", root.get_current_node(), ", I get an accuracy of ", a*100,"%\n") # print the accuracy
    print("Beginning search (Backward Elimination):") # print the search
    child_node = [] # this is for the children of the current node
    next_expend = [] # this is for the next node to be expanded
    index = 0 # index for the loop to stop the search
    max_feature = root # asume the root is the currrent max feature
    current_num_feature = num_feature # current number of features
    while not q.empty(): # loop until the queue is empty
        next_expend = q.get() # get the next node to be expanded
        #res.put(next_expend)
        if (next_expend.get_accuracy() >= max_feature.get_accuracy()): # if the accuracy is better than the current max feature
            max_feature = next_expend # update the max feature
        child_node = [] # list of child node
        feature_list = [] # list of current features
        for i in range(current_num_feature): # loop through all the current features
            p_temp = copy.deepcopy(next_expend.get_current_node()) # copy the current node
            p_temp.pop(i) # remove the one of the current feature
            feature_list.append(p_temp) # add the current features to the list of features and avoid to use duplicated features
        for f_temp in feature_list: # loop through all the features
            a = validator.validator(f_temp, classifier, dataset,k) # accuracy
            child = Node(f_temp,next_expend,a) # child node
            child_node.append(child) # add the child node to the list of child node
            if (len(feature_list) == 1): # if there is only one feature left
                print("Using ",child.get_current_node(),"no features and \"random\" evalution, I get an accuracy of ", child.get_accuracy()*100,"%\n") # print the accuracy
            else: # if there are more than one feature left
                print("Using features(s)",child.get_current_node(),"accuracy is ", child.get_accuracy()*100,"%")  # print the accuracy
        current_num_feature-=1 # update the number of features for next expend
        num_drop_accuracy = 0 # number of accuracy drop
        #print("Child node length: ",len(child_node))
        if (len(child_node) >= 1): # if there is at least one child node
            next_expend = child_node[0] # set the next node to be expanded to the first child node
            for i in child_node:  # loop through all the child node
                if i.get_accuracy() > next_expend.get_accuracy(): # if the child accuracy is better than the current node's accurcy
                    next_expend = i # update the next node to be expanded
                if (i.get_accuracy() < max_feature.get_accuracy()):
                    num_drop_accuracy += 1
        if (num_drop_accuracy == len(child_node)):
            print("Warning: the accuracy is not increasing!!!") # print warning
            print("Finished search!! ", "The best features are ", max_feature.get_current_node(), " which has accuracy ", max_feature.get_accuracy()*100,"%\n\n")
            break
        q.put(next_expend) # put the next node to be expanded into the queue
        index+=1 # update the index for the loop control variable
        if (index >= num_feature): # if the index is larger than the number of features
            #if  (next_expend.get_accuracy() < max_feature.get_accuracy()): # if the accuracy is not increasing
            #    print("Warning: the accuracy is not increasing!!!") # print warning
            #    print("Finished search!! ", "The best features are ", max_feature.get_current_node(), " which has accuracy ", max_feature.get_accuracy()*100,"%\n\n")
            #else: # if the accuracy is increasing
                # print normal
            print("Finished search!! ", "The best features are ", next_expend.get_current_node(), " which has accuracy ", next_expend.get_accuracy()*100,"%\n\n")
            break # break the loop
        print("\nFeature set ", next_expend.get_current_node(), " was best, accuracy is ", next_expend.get_accuracy()*100,"%") # print the best current feature

In [21]:
# Bidirection Elimination
# https://stats.stackexchange.com/questions/421361/how-exactly-does-bidirectional-stepwise-elimination-works
def BidirectionalElimination(feature_sets, dataset,k):
    classifier = NN_Neighbor_Classifier() # create a classifier
    validator = Validator() # create a validator
    q = queue.PriorityQueue() # priority queue
    num_feature = len(feature_sets)
    #res = queue.PriorityQueue()
    a = 0 # accuracy
    f = [] # for initial feature set
    a = validator.validator(f, classifier, dataset,k) # validate the initial feature set, which it is accuracy
    root = Node(f, None, a) # root node
    #print(root.get_current_node())
    q.put(root) #   put the root node into the queue
    print("Using no features and \"random\" evalution, I get an accuracy of ", a*100,"%\n") # print the accuracy
    print("Beginning search(Bidirection Elimination)") # print the beginning of the search
    child_node = [] # this is for the children of the current node
    next_expend = [] # this is for the next node to be expanded
    index = 0 # this is for the index of the current node
    eliminate_feature = [] # this is for the features to be eliminated
    max_feature = root # assume our root node as  the max feature
    while not q.empty(): 
        next_expend = q.get()
        #res.put(next_expend)
        if (next_expend.get_accuracy() > max_feature.get_accuracy()): # if the accuracy of the current node is greater than the max accuracy
            max_feature = next_expend # update the max feature
        child_node = [] # list of child node
        feature_list = [] # list of current features
        for feature in (feature_sets): # for all the current features
            p_temp = copy.deepcopy(next_expend.get_current_node()) # copy the current node
            if (feature not in p_temp and feature not in eliminate_feature): # if the current feature is not in the current node
                p_temp.insert(0, feature) # add the new feature to the current node(feature sets)
                feature_list.append(p_temp)# add the current features to the list of features and avoid to use duplicated features
        eliminate_num = 0 # number of features to be eliminated
        for f_temp in feature_list: # for all the features in the list of features
            a = validator.validator(f_temp, classifier, dataset,k) # validate the feature set, which it is return accuracy
            child = Node(f_temp,next_expend,a) # create a child node
            print("Using features(s)",child.get_current_node(),"accuracy is ", child.get_accuracy()*100,"%")  # print the accuracy
            if (child.get_accuracy() < next_expend.get_accuracy() and index !=0): # if the child accuracy is greater than the current node's accuracy
                print("Eliminated this feature! Since this feautre(s) [",child.get_current_node()[0],"] had create the accuracy ", child.get_accuracy()*100, "% is lower than previous best features accuracy ", next_expend.get_accuracy()*100,"%")
                eliminate_num+=1 # update the number of features to be eliminated
                eliminate_feature.append(child.get_current_node()[0]) # add the feature to the list of features to be eliminated
            else:
                child_node.append(child) #  add the child node to the list of child node
        if (child_node != []): # if there is at least one child node
            next_expend = child_node[0] # set the next node to be expanded to be the first child node
            current_smallest_accuracy = next_expend # set the smallest accuracy to be the first child node's accuracy
            for i in child_node: # for all the child nodes
                if i.get_accuracy() > next_expend.get_accuracy(): # if the child accuracy of the current node is greater than the current expend node accuracy
                    next_expend = i # update the next expend node
                #if i.get_accuracy() < current_smallest_accuracy.get_accuracy():
                #    current_smallest_accuracy = i
        #print("Eliminated this feature! Since this feautre(s) [",current_smallest_accuracy.get_current_node()[0],"] had create the lowest accuracy ", current_smallest_accuracy.get_accuracy()*100, "%. \n")
        #eliminate_feature.append(current_smallest_accuracy.get_current_node()[0]) # add the feature to be eliminated to the list of features to be eliminated
        q.put(next_expend) # put the next expend node into the queue
        print("Number of features to be eliminated: ", eliminate_num) # print the number of features to be eliminated
        index+=1 # update the index of the current node
        index+=eliminate_num # update the index of the current node
        #print("index: ", index)
        #print("number of features: ", num_feature)
        if (index >= num_feature): # if the index is greater than the number of features
            if  (next_expend.get_accuracy() < max_feature.get_accuracy()): # if the accuracy of the current node is less than the max accuracy
                print("We used and eliminated all features!\n") 
                print("Warning: the accuracy is not increasing!!!") # print the warning
                print("Finished search!! The best accuracy is ", "The best features are ", max_feature.get_current_node(), " which has accuracy ", max_feature.get_accuracy()*100,"%\n\n") # print the best accuracy and the best features
            else: # if the accuracy of the current node is greater than the max accuracy, then no warning
                print("We used and eliminated all features!\n") 
                print("Finished search!! The best accuracy is ", "The best features are ", next_expend.get_current_node(), " which has accuracy ", next_expend.get_accuracy()*100,"%\n\n") # print the best accuracy and the best features
            break # break the loop stop the search
        print("\nFeature set ", next_expend.get_current_node(), " was best, accuracy is ", next_expend.get_accuracy()*100,"%") # print the current best feature set and the accuracy

In [22]:
classifier = NN_Neighbor_Classifier()
#classifier.train(trian_rows)
#classifier.test(test_row)
validator = Validator()
accuracy1 = validator.validator([3,5,7], classifier, small_test,1)
accuracy2 = validator.validator([1,15,27], classifier, large_test,1)
print("The accuracy of the small test set is ",accuracy1)
print("The accuracy of the large test set is ",accuracy2)

The accuracy of the small test set is  0.89
The accuracy of the large test set is  0.949

In [23]:
# this part is for part II
def part2():
    # how to keep track of time use in the program
    # https://www.codegrepper.com/code-examples/python/python+track+time+of+execution
    start_time = time.time() # start time
    classifier = NN_Neighbor_Classifier()
    #classifier.train(trian_rows)
    #classifier.test(test_row)
    validator = Validator()
    #validator.validator([3,5,7], classifier, small_test)
    #accuracy = validator.validator([1,15,27], classifier, large_test)
    
    
    print("NN Neighbor Classifier and Validator testing!")
    print("--- %s seconds ---" % (time.time() - start_time))
    print("Enter 0 for default festure set for small and large dataset")
    print("Enter 1 to chose the small dataset")
    print("Enter 2 to chose the large dataset")
    data_choice = input("Please chose your dataset:")
    print("---- %s seconds ----" % (time.time() - start_time))
    feature_sets = []
    accuracy = 0
    if (data_choice == "1"):
        sets = input("Enter your feature subset[1-10]:")
        print("---- %s seconds ----" % (time.time() - start_time))
        feature_sets = [int(i) for i in sets.split()]
        accuracy = validator.validator(feature_sets, classifier, small_test,1)
        print("The small dataset with the feautre subset", feature_sets, "We have the accuracy is ", accuracy*100, "%")
        print("---- %s seconds ----" % (time.time() - start_time))
    elif (data_choice == "2"):
        sets = input("Enter your feature subset[1-40]:")
        print("---- %s seconds ----" % (time.time() - start_time))
        feature_sets = [int(i) for i in sets.split()]
        accuracy = validator.validator(feature_sets, classifier, large_test,1)
        print("The large dataset with the feautre subset", feature_sets, "We have the accuracy is ", accuracy*100, "%")
        print("---- %s seconds ----" % (time.time() - start_time))
    elif(data_choice == "0"):
        accuracy1 =validator.validator([3,5,7], classifier, small_test,1)
        print("The small dataset with the feautre subset", [3,5,7], "We have the accuracy is ", accuracy1*100, "%")
        print("---- %s seconds ----" % (time.time() - start_time))
        accuracy2 = validator.validator([1,15,27], classifier, large_test,1)
        print("The large dataset with the feautre subset", [1,15,27], "We have the accuracy is ", accuracy2*100, "%")
        print("---- %s seconds ----" % (time.time() - start_time))

In [35]:
def part3():
    start_time = time.time() # start time
    print("Welcome to Jianeng Yang Feature Selection Algorithm")
    print("Enter 1 to chose the small dataset")
    print("Enter 2 to chose the large dataset")
    data_choice = input("Please chose your dataset:")
    print("---- %s seconds ----" % (time.time() - start_time))
    print("Chose type of the algorithm")
    print("Enter 1 for Forward Selection")
    print("Enter 2 for Backward Elimination")
    print("Enter 3 for Jianeng Yang(Bidirection Elimination)'s Special Algorithm.")
    type_alg = input("Enter your choice:")
    print("---- %s seconds ----" % (time.time() - start_time))
    print("Enter 1 to chose all features")
    print("Enter 2 to input your subset of features")
    input_feature = input("Enter your choice:")
    print("Enter your number of neighbors(k-nn):")
    input_k = int(input("Enter your k-nn  value:"))
    feature_sets = []
    if (data_choice == "1"):
        print("You chose the small dataset, this dataset has 10 features, with ", len(personal_small_test), " instances. And k-nn is ", input_k)
        if (input_feature == "2"):
            sets = input("Enter your feature subset[1-10]:")
            feature_sets = [int(i) for i in sets.split()]
        else:
            feature_sets = [1,2,3,4,5,6,7,8,9,10]
        print("---- %s seconds ----" % (time.time() - start_time))
        if (type_alg == "1"):
            ForwardSelection(feature_sets, personal_small_test,input_k)
            print("---- %s seconds ----" % (time.time() - start_time))
        elif (type_alg == "2"):
            BackwardElimination(feature_sets, personal_small_test,input_k)
            print("---- %s seconds ----" % (time.time() - start_time))
        elif (type_alg == "3"):
            #Bertie(feature_sets, small_test,1)
            BidirectionalElimination(feature_sets, personal_small_test,input_k)
            print("---- %s seconds ----" % (time.time() - start_time))
    elif(data_choice == "2"):
        print("You chose the large dataset, this dataset has 40 features, with ", len(personal_large_test), " instances.")
        if (input_feature == "2"):
            sets = input("Enter your feature subset[1-40]:")
            feature_sets = [int(i) for i in sets.split()]
        else:
            feature_sets = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40]
        print("---- %s seconds ----" % (time.time() - start_time))
        if (type_alg == "1"):
            ForwardSelection(feature_sets, personal_large_test,input_k)
            print("---- %s seconds ----" % (time.time() - start_time))
        elif (type_alg == "2"):
            BackwardElimination(feature_sets, personal_large_test,input_k)
            print("---- %s seconds ----" % (time.time() - start_time))
        elif (type_alg == "3"):
            #Bertie(feature_sets, large_test,1)
            BidirectionalElimination(feature_sets, personal_large_test,input_k)
            print("---- %s seconds ----" % (time.time() - start_time))

In [25]:
def main():
    #part2()
    part3()
    return

In [38]:
if __name__ == '__main__':
   main()

Welcome to Jianeng Yang Feature Selection Algorithm
Enter 1 to chose the small dataset
Enter 2 to chose the large dataset
---- 1.9872992038726807 seconds ----
Chose type of the algorithm
Enter 1 for Forward Selection
Enter 2 for Backward Elimination
Enter 3 for Jianeng Yang(Bidirection Elimination)'s Special Algorithm.
---- 3.2645673751831055 seconds ----
Enter 1 to chose all features
Enter 2 to input your subset of features
Enter your number of neighbors(k-nn):
You chose the small dataset, this dataset has 10 features, with  100  instances. And k-nn is  1
---- 4.270010232925415 seconds ----
Using no features and "random" evalution, I get an accuracy of  18.0 %

Beginning search(Bidirection Elimination)
Using features(s) [1] accuracy is  70.0 %
Using features(s) [2] accuracy is  65.0 %
Using features(s) [3] accuracy is  70.0 %
Using features(s) [4] accuracy is  78.0 %
Using features(s) [5] accuracy is  69.0 %
Using features(s) [6] accuracy is  69.0 %
Using features(s) [7] accuracy is  64.0 %
Using features(s) [8] accuracy is  68.0 %
Using features(s) [9] accuracy is  80.0 %
Using features(s) [10] accuracy is  66.0 %
Number of features to be eliminated:  0

Feature set  [9]  was best, accuracy is  80.0 %
Using features(s) [1, 9] accuracy is  77.0 %
Eliminated this feature! Since this feautre(s) [ 1 ] had create the accuracy  77.0 % is lower than previous best features accuracy  80.0 %
Using features(s) [2, 9] accuracy is  80.0 %
Using features(s) [3, 9] accuracy is  82.0 %
Using features(s) [4, 9] accuracy is  93.0 %
Using features(s) [5, 9] accuracy is  81.0 %
Using features(s) [6, 9] accuracy is  80.0 %
Using features(s) [7, 9] accuracy is  81.0 %
Using features(s) [8, 9] accuracy is  79.0 %
Eliminated this feature! Since this feautre(s) [ 8 ] had create the accuracy  79.0 % is lower than previous best features accuracy  80.0 %
Using features(s) [10, 9] accuracy is  79.0 %
Eliminated this feature! Since this feautre(s) [ 10 ] had create the accuracy  79.0 % is lower than previous best features accuracy  80.0 %
Number of features to be eliminated:  3

Feature set  [4, 9]  was best, accuracy is  93.0 %
Using features(s) [2, 4, 9] accuracy is  89.0 %
Eliminated this feature! Since this feautre(s) [ 2 ] had create the accuracy  89.0 % is lower than previous best features accuracy  93.0 %
Using features(s) [3, 4, 9] accuracy is  81.0 %
Eliminated this feature! Since this feautre(s) [ 3 ] had create the accuracy  81.0 % is lower than previous best features accuracy  93.0 %
Using features(s) [5, 4, 9] accuracy is  82.0 %
Eliminated this feature! Since this feautre(s) [ 5 ] had create the accuracy  82.0 % is lower than previous best features accuracy  93.0 %
Using features(s) [6, 4, 9] accuracy is  85.0 %
Eliminated this feature! Since this feautre(s) [ 6 ] had create the accuracy  85.0 % is lower than previous best features accuracy  93.0 %
Using features(s) [7, 4, 9] accuracy is  92.0 %
Eliminated this feature! Since this feautre(s) [ 7 ] had create the accuracy  92.0 % is lower than previous best features accuracy  93.0 %
Number of features to be eliminated:  5
We used and eliminated all features!

Finished search!! The best accuracy is  The best features are  [4, 9]  which has accuracy  93.0 %


---- 4.817439794540405 seconds ----

# Reference
### how to keep track of time in python
https://www.codegrepper.com/code-examples/python/python+track+time+of+execution
### HOW TO NORMALIZE THE DATA 
https://stackoverflow.com/questions/26414913/normalize-columns-of-pandas-data-frame
### Bidirection Elimination
https://stats.stackexchange.com/questions/421361/how-exactly-does-bidirectional-stepwise-elimination-works